* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  box-sizing: border-box;
  background-color: #333;
}

/*background-color: rgb(219, 219, 179);*/
/* background: linear-gradient(to left,#ffed4d,#b8b2b2);*/
/*   background-color: #333;
     background: #111;*/