* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
#root {
  box-sizing: border-box;
  background: linear-gradient(to left,#e8ebbb,#a6a6a9);

}

/*background-color: rgb(219, 219, 179);*/