<style>
  .message-sontente {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-sontente">
<p>Olá {{name}}</p>
<br/>
<p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário</p>
<p>Se realmente foi você que solicitou, clique no link abaixo para redefinir sua senhap</p>
<p><a href="{{link}}">Resetar minha senha</a></p>
<p>Caso não tenha realizado essa solicitação, descarte esse e-mail.</p>
<br/>
<p>Obrigado!! </p>
<p>Equipe API Aniversariantes</p>
</div>
